<%
    var cover = post.cover || post.photos[0] || theme.post_default_cover;
%>

<div class="project-card">
  <% if (cover) { %>
    <div class="imgWrap">
      <img src="<%= cover %>" alt="" />
    </div>
  <% } %>
  <div class="ctnWrap">
    <a href="<%- url_for(post.path) %>" class="title"><%= post.title %></a>
    <section class="desc"><%- partial('excerpt', { post: post }) %></section>
    <p class="sub"><%- date(post.date, 'MMM D, YYYY') %></p>
  </div>
</div>